* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
.primary-btn {
  font-size: 10px;
  color: white;
  background-color: #ff900e;
  font-family: 700px;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 25px;
  padding: 10px 15px;
  border: none;
}
/* --------------
Header style
------------------ */
.header {
  background-color: rgba(255, 144, 14, 0.1);
  width: 100%;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-title {
  font-weight: 700px;
  font-size: 2rem;
  margin-top: 30px;
}
.lists {
  margin-top: 30px;
  display: flex;
  list-style: none;
  gap: 25px;
  font-weight: 500;
  font-size: 1em;
  color: #424242;
}
.banner-details {
  text-align: center;
  padding: 60px 25% 0 25%;
}
.banner-title {
  font-size: 3rem;
}
.banner-description {
  font-size: 14px;
  color: #424242;
}
.banner-img {
  width: 100%;
  padding: 0 15%;
  margin-bottom: 40px;
}

/* ------------
Main style
--------------- */
/* section-1 style */
.section-1{
     display: flex;
     gap: 30px;
     padding: 0 20%;
     margin-bottom: 60px;
}
.section-images{
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 10px;
width: 150%;
}
.section-details{
     width: 50%;
}
.section-1-title{
     padding-top: 90px;
color: #727272;
font-weight: 700px;
font-size: 30px;
}
.text-color{
color:#131313;
}
.text-color-2{
color: 
#FF900E;
}
.section-1-description{
     font-weight: 400px;
     color: #727272;
     font-size: 11px;
     line-height: 26px;
}
/* Section-2 style */
.section-2{
  display: flex;
  gap: 30px;
}
.section-2-container{
  width: 50%;
padding-left:16%;
}
 .container-item{
margin-bottom: 10px;
background: #FFFFFF;
box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
border-radius: 8px;
padding: 20px 30px 20px 25px;
 }
.section-2-image{
  width: 50%;
  padding-right: 15%;
}
.item-1-title{
font-weight: 700px;
font-size: 45px;
color: #131313;
margin-bottom: 7px;
border-left: 3px solid #FF900E;

}
.item-title{
  font-weight:400px;
  font-size: 16px;
  color: #131313;
  line-height: 25px;
}
.item-description{
  font-weight: 400px;
     color: #727272;
     font-size: 11px;
     line-height: 16px;
}
.button{
  color: white;
  background-color:#f09227;
  border: none;
  border-radius: 5px;
  padding: 20px;
  position: relative;
 top:-60px ;
 right:-650px;
}
/* ---------------
Section-3 style
------------------- */
.up-div{
  padding:30px 60% 50px 12% ;
}
.section-3-title{
  font-weight: 700px;
  font-size: 30px;
  line-height: 53px;
  color: #131313;
}
.section-3-description{
  font-weight: 400px;
  color: #727272;
  font-size: 11px;
  line-height: 16px;
  
}
.section-3-container{
  display: flex;
  justify-content:center;
 gap: 90px;
}
.section-3-item{
  padding: 15px 20px;
  text-align: center;
border: 1px solid #FF900E;
border-radius: 5px;
transition: width 1s,height 1s,transform 1s;
}
.section-3-item > h4{
  color: #424242;
  font-weight: 600px;
  font-size: 25px
}
.section-3-item > p{
  color: #727272;
  font-weight: 600px;
font-size: 12px;
}
.section-3-item:hover{
  transform:rotate(45deg);
}
/* ------------------
Section-4 style
--------------------- */
.section-4{
text-align: center;
margin-top: 80px;
}
.section-4-div> h3{
  font-weight: 700px;
  font-size: 30px;
  line-height: 53px;
  color: #131313;
}
.section-4-div>p{
  font-weight: 400px;
  color: #727272;
  font-size: 11px;
  line-height: 16px;
}
.section-4-container{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 40px;
  filter: grayscale(100%);
}
/*---------------
 Bonus section
 ---------------------- */
 .bonus-section-div{
  margin-top: 90px;
 }
 .bonus-section-title{
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
 }
 .blogs{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 26px;
  padding: 0 10%;
}
.blog{
  display: flex;
}
.thumbnail img{
  width: 300px;
  height: 180px;
}
.blog-info{
  margin-left: 10px;
}
.blog-title{
font-weight: 500px;
font-size: 16px;
color: #000000cc;
}
.blog-info>p> a{
text-decoration: none;
font-weight: 400;
font-size: 15px;
color: #562EFF;
}
/*--------------
 Footer style
----------------- */
Footer{
margin: 60px 10% 50px 10%;
color:#424242;
background-color: #FFF4E7;
font-size: 15px;
text-align: center;
border-radius: 5px;
padding: 30px 20px 30px 20px;
}

/* Media Query style */
@media only screen and (max-width:576px) {
nav{
  flex-direction: column;
}

.lists{
  flex-direction: column;
  gap: 10px;
}

.banner-title{
  font-size:2rem ;
}

.section-images{
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
}

.section-1{
  flex-direction: column;
  align-items: center;
}

.section-2{
  flex-direction: column;
  text-align: center;
}

.section-2-image{
  padding-left: 50px;
  align-items: center;
  width: 100%;
}

.item-1-title{
  font-size: 30px;
}

.button{
  position: relative;
  top:30px ;
  right:-70px;
  padding: 10px;
}

.section-3-container{
  flex-direction: column;
  align-items: center;
  gap:20px;
}

.section-4-container{
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.blogs{
  grid-template-columns: repeat(1,1fr);
  justify-content: center;
}

.blog{
  flex-direction: column;
  align-items: center;
}
}